body {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-position: 0% 40%;
    height: 100vh;
    width: 100vw;
    font-family: 'Special Elite', cursive;
}

.biglietto {
    width: 900px;
    height: 700px;
}

.biglietto img {
    opacity: 0.7;
}

.testo-biglietto {
    top: 32%;
    left: 46%;
    width: 200px;
    font-size: 1.3rem;
    z-index: 999;
    text-transform: uppercase;
    margin-top: 2px;
}